[Desktop Entry]
Version=0.17.6
Name=FantasyGold Core Testnet
Comment=Connect to the FantasyGold P2P Network Testnet
Exec=fantasygold-qt -testnet %u
Terminal=false
Type=Application
Icon=fantasygoldtestnet128
MimeType=x-scheme-handler/fantasygold;
Categories=Network;
StartupWMClass=FantasyGold-qt-testnet
Name[en_US]=fantasygold-qt-testnet
