[Desktop Entry]
Encoding=UTF-8
Name=FantasyGold
Comment=FantasyGold P2P Cryptocurrency
Comment[fr]=FantasyGold, monnaie virtuelle cryptographique pair à pair
Comment[tr]=FantasyGold, eşten eşe kriptografik sanal para birimi
Exec=fantasygold-qt %u
Terminal=false
Type=Application
Icon=fantasygold128
MimeType=x-scheme-handler/fantasygold;
Categories=Office;Finance;
