/*--------------------------------------------
Button Blue CSS
--------------------------------------------*/
QPushButton {
    color: white; 
    background: #000000;
    border: none;
    border-radius: 12px;
    min-width: 5em;
    padding: 6px;
    margin: 0px;
}
QPushButton:hover{
    background: #333333;
}
QPushButton:pressed {
    background: #000000;
    color: #333333;
}
QPushButton::disabled {
    color: rgba(255, 255, 255, 40%);
    background: rgba(255, 255, 212, 60%);
}
